# <span style="color:#FFD700">DIPESH SINGH<br> KCE080BCT008</span>

### About Dataset
Used Car Price Prediction Dataset is a comprehensive collection of automotive information extracted from the popular automotive marketplace website, https://www.cars.com. This dataset comprises 4,009 data points, each representing a unique vehicle listing, and includes nine distinct features providing valuable insights into the world of automobiles.

#### Features

* Brand & Model: Identify the brand or company name along with the specific model of each vehicle.
* Model Year: Discover the manufacturing year of the vehicles, crucial for assessing depreciation and technology advancements.
* Mileage: Obtain the mileage of each vehicle, a key indicator of wear and tear and potential maintenance requirements.
* Fuel Type: Learn about the type of fuel the vehicles run on, whether it's gasoline, diesel, electric, or hybrid.
* Engine Type: Understand the engine specifications, shedding light on performance and efficiency.
* Transmission: Determine the transmission type, whether automatic, manual, or another variant.
* Exterior & Interior Colors: Explore the aesthetic aspects of the vehicles, including exterior and interior color options.
* Accident History: Discover whether a vehicle has a prior history of accidents or damage, crucial for informed decision-making.
* Clean Title: Evaluate the availability of a clean title, which can impact the vehicle's resale value and legal status.
* Price: Access the listed prices for each vehicle, aiding in price comparison and budgeting.<br>
<p>This dataset is a valuable resource for automotive enthusiasts, buyers, and researchers interested in analyzing trends, making informed purchasing decisions or conducting studies related to the automotive industry and consumer preferences. Whether you are a data analyst, car buyer, or researcher, this dataset offers a wealth of information to explore and analyze.</P>

In [30]:
import pandas as pd
df=pd.read_csv('used_cars.csv')

In [31]:
df.info()
df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"
5,Acura,ILX 2.4L,2016,"136,397 mi.",Gasoline,2.4 Liter,F,Silver,Ebony.,None reported,NaN,"$14,798"
6,Audi,S3 2.0T Premium Plus,2017,"84,000 mi.",Gasoline,292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Black,None reported,Yes,"$31,000"
7,BMW,740 iL,2001,"242,000 mi.",Gasoline,282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,A/T,Green,Green,None reported,Yes,"$7,300"
8,Lexus,RC 350 F Sport,2021,"23,436 mi.",Gasoline,311.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,6-Speed A/T,Black,Black,None reported,Yes,"$41,927"
9,Tesla,Model X Long Range Plus,2020,"34,000 mi.",NaN,534.0HP Electric Motor Electric Fuel System,A/T,Black,Black,None reported,Yes,"$69,950"
10,Land,Rover Range Rover Sport 3.0 Supercharged HST,2021,"27,608 mi.",Gasoline,V6,Automatic,Fuji White,Pimento / Ebony,None reported,NaN,"$73,897"
11,Aston,Martin DBS Superleggera,2019,"22,770 mi.",Gasoline,715.0HP 5.2L 12 Cylinder Engine Gasoline Fuel,8-Speed A/T,Silver,Black,None reported,Yes,"$184,606"
12,Toyota,Supra 3.0 Premium,2021,"12,500 mi.",Gasoline,382.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,A/T,Yellow,Black,None reported,Yes,"$53,500"
13,Lincoln,Aviator Reserve AWD,2022,"18,196 mi.",Gasoline,400.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Brown,None reported,Yes,"$62,000"
14,Jaguar,F-TYPE,2020,"15,903 mi.",Gasoline,2.0 Liter Supercharged,Automatic,Silver,Black,None reported,NaN,"$47,998"
15,Land,Rover LR4 HSE,2013,"79,800 mi.",Gasoline,375.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,"$29,990"
16,Mercedes-Benz,Metris Base,2021,"1,685 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,9-Speed Automatic,Gray,White,None reported,Yes,"$250,000"
17,Dodge,Challenger SXT,2013,"61,074 mi.",Gasoline,305.0HP 3.6L V6 Cylinder Engine Gasoline Fuel,A/T,Black,Gray,None reported,Yes,"$16,800"
18,Nissan,350Z Enthusiast,2003,"74,000 mi.",Gasoline,287.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,6-Speed M/T,Purple,–,None reported,Yes,"$11,000"
19,Jaguar,F-TYPE R,2018,"35,250 mi.",Gasoline,550.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,Green,Black,None reported,Yes,"$68,750"

#### <span style="color:#1B98E0">Data Cleaning</span>

In [32]:
import warnings
warnings.filterwarnings('ignore')

In [33]:
df.isnull().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

In [34]:
#filling null in accident column with 'None reported'
df['accident'].fillna('None reported',inplace=True)
#filling clean_title with 
df['clean_title'].fillna('No',inplace=True)
#removing rows with empty fuel  type
df.dropna(subset=['fuel_type'],inplace=True)

In [35]:
df.shape

(3839, 12)

In [36]:
df['brand'].unique()

array(['Ford', 'Hyundai', 'Lexus', 'INFINITI', 'Audi', 'Acura', 'BMW',
       'Land', 'Aston', 'Toyota', 'Lincoln', 'Jaguar', 'Mercedes-Benz',
       'Dodge', 'Nissan', 'Genesis', 'Chevrolet', 'Kia', 'Jeep',
       'Bentley', 'Honda', 'MINI', 'Porsche', 'Hummer', 'Chrysler',
       'Volvo', 'Cadillac', 'Lamborghini', 'Maserati', 'Volkswagen',
       'Subaru', 'GMC', 'RAM', 'Alfa', 'Ferrari', 'Scion', 'Mitsubishi',
       'Mazda', 'Saturn', 'Bugatti', 'Rolls-Royce', 'McLaren', 'Buick',
       'Lotus', 'Pontiac', 'FIAT', 'Saab', 'Mercury', 'Plymouth', 'smart',
       'Maybach', 'Suzuki'], dtype=object)

In [37]:
df["milage"]=df["milage"].str.replace(r'[^0-9]','',regex=True)
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,34742,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,22372,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,No,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,9835,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,No,"$34,999"

In [38]:
df['fuel_type'].unique()
df['fuel_type'].value_counts()

fuel_type
Gasoline          3309
Hybrid             194
E85 Flex Fuel      139
Diesel             116
–                   45
Plug-In Hybrid      34
not supported        2
Name: count, dtype: int64

In [60]:
df[df['fuel_type']=='Plug-In Hybrid']

Empty DataFrame
Columns: [brand, model, model_year, milage, fuel_type, transmission, ext_col, int_col, accident, clean_title, price, horsepower, size, cylinders]
Index: []

In [39]:
#filtering fuel type by not including inputs with ('-','Plug-In Hybrid','not supported')
df=df[~df["fuel_type"].isin(["-", "Plug-In Hybrid", "not supported"])]

In [40]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,34742,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,22372,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,No,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,9835,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,No,"$34,999"

In [41]:
df['engine'].value_counts()

engine
2.0L I4 16V GDI DOHC Turbo                               52
355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel             48
420.0HP 6.2L 8 Cylinder Engine Gasoline Fuel             47
–                                                        45
300.0HP 3.0L Straight 6 Cylinder Engine Gasoline Fuel    44
                                                         ..
340.0HP 3.0L V6 Cylinder Engine Flex Fuel Capability      1
222.0HP 3.0L V6 Cylinder Engine Gasoline Fuel             1
250.0HP 2.5L 5 Cylinder Engine Gasoline Fuel              1
729.0HP 6.5L 12 Cylinder Engine Gasoline Fuel             1
335.0HP 5.7L 8 Cylinder Engine Gasoline Fuel              1
Name: count, Length: 1075, dtype: int64

In [42]:
#extracting necessary features from engine

In [43]:
df["horsepower"] = df["engine"].str.extract(r"(\d+\.?\d*)HP")
df["size"] = df["engine"].str.extract(r"(\d+\.?\d*)L")
df["cylinders"] = df["engine"].str.extract(r"(\d+)\sCylinder")

In [44]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,horsepower,size,cylinders
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300",300.0,3.7,6
1,Hyundai,Palisade SEL,2021,34742,Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005",NaN,3.8,NaN
2,Lexus,RX 350 RX 350,2022,22372,Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,No,"$54,598",NaN,NaN,NaN
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500",354.0,3.5,6
4,Audi,Q3 45 S line Premium Plus,2021,9835,Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,No,"$34,999",NaN,2.0,NaN

In [45]:
df['brand'].value_counts()

brand
Ford             371
BMW              355
Mercedes-Benz    312
Chevrolet        287
Toyota           194
Audi             194
Porsche          190
Lexus            163
Jeep             142
Land             130
Nissan           111
Cadillac         106
RAM               91
GMC               90
Dodge             90
Kia               69
Hyundai           68
Acura             64
Mazda             64
Subaru            64
Honda             62
INFINITI          59
Volkswagen        56
Lincoln           51
Jaguar            47
Maserati          34
Bentley           33
MINI              33
Volvo             32
Buick             30
Chrysler          28
Lamborghini       26
Mitsubishi        20
Genesis           20
Alfa              19
Hummer            16
Pontiac           15
Ferrari           12
Rolls-Royce       11
Aston              9
Scion              6
McLaren            6
Saturn             5
Lotus              4
FIAT               4
Mercury            3
Saab               2
Bugatti            1
Plymouth           1
smart              1
Maybach            1
Suzuki             1
Name: count, dtype: int64

In [46]:
df.dropna(subset=['horsepower','size','cylinders'],inplace=True)
df.tail()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price,horsepower,size,cylinders
4002,Mercedes-Benz,AMG GLS 63 4MATIC,2023,2000,Hybrid,603.0HP 4.0L 8 Cylinder Engine Gasoline/Mild E...,9-Speed A/T,Gray,Beige,None reported,Yes,"$175,000",603.0,4.0,8
4003,Mercedes-Benz,E-Class E 300 4MATIC,2018,53705,Gasoline,241.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Black,Black,At least 1 accident or damage reported,Yes,"$25,900",241.0,2.0,4
4005,Audi,S4 3.0T Premium Plus,2022,10900,Gasoline,349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,"$53,900",349.0,3.0,6
4007,Ford,F-150 Raptor,2020,33000,Gasoline,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Blue,Black,None reported,Yes,"$62,999",450.0,3.5,6
4008,BMW,X3 xDrive30i,2020,43000,Gasoline,248.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Brown,At least 1 accident or damage reported,Yes,"$40,000",248.0,2.0,4

In [47]:
#since we have extracted all the necessary feature from the column 'engine' so we can now drop the engine column
df.drop(columns='engine',inplace=True)
df.head(3)

,brand,model,model_year,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,horsepower,size,cylinders
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300",300.0,3.7,6
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,7-Speed A/T,Black,Black,None reported,Yes,"$15,500",354.0,3.5,6
6,Audi,S3 2.0T Premium Plus,2017,84000,Gasoline,6-Speed A/T,Blue,Black,None reported,Yes,"$31,000",292.0,2.0,4

In [48]:
df['transmission'].value_counts()

transmission
A/T                               922
8-Speed A/T                       395
Transmission w/Dual Shift Mode    387
6-Speed A/T                       358
6-Speed M/T                       241
7-Speed A/T                       209
10-Speed A/T                      119
5-Speed A/T                        84
9-Speed A/T                        72
4-Speed A/T                        68
CVT Transmission                   58
5-Speed M/T                        53
M/T                                40
7-Speed M/T                        10
Transmission Overdrive Switch       7
Name: count, dtype: int64

In [49]:
df.shape

(3023, 14)

In [50]:
def group_transmission_type(trans):
    if 'A/T' in trans:
        return 'Automatic'
    elif 'M/T' in trans:
        return 'Manual'
    elif 'CVT' in trans:
        return 'CVT'
    elif 'w/Dual' in trans:
        return 'Dual'
    else:
        return 'Other'

# Apply the grouping function
df['transmission'] = df['transmission'].apply(group_transmission_type)
df = df[~df['transmission'].isin(['Other'])]

In [51]:
df['transmission'].value_counts()

transmission
Automatic    2227
Dual          387
Manual        344
CVT            58
Name: count, dtype: int64

In [52]:
df.head()

,brand,model,model_year,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,horsepower,size,cylinders
0,Ford,Utility Police Interceptor Base,2013,51000,E85 Flex Fuel,Automatic,Black,Black,At least 1 accident or damage reported,Yes,"$10,300",300.0,3.7,6
3,INFINITI,Q50 Hybrid Sport,2015,88900,Hybrid,Automatic,Black,Black,None reported,Yes,"$15,500",354.0,3.5,6
6,Audi,S3 2.0T Premium Plus,2017,84000,Gasoline,Automatic,Blue,Black,None reported,Yes,"$31,000",292.0,2.0,4
7,BMW,740 iL,2001,242000,Gasoline,Automatic,Green,Green,None reported,Yes,"$7,300",282.0,4.4,8
8,Lexus,RC 350 F Sport,2021,23436,Gasoline,Automatic,Black,Black,None reported,Yes,"$41,927",311.0,3.5,6

In [53]:
df['accident'].value_counts()

accident
None reported                             2154
At least 1 accident or damage reported     862
Name: count, dtype: int64

In [54]:
#use in eda
# accident_mapping = {
#     'None reported': 0,
#     'At least 1 accident or damage reported': 1
# }

# df['accident'] = df['accident'].map(accident_mapping)
# df.head()

In [55]:
df['clean_title'].value_counts()

clean_title
Yes    2937
No       79
Name: count, dtype: int64

In [56]:
#use in EDA
# #A clean title is important to buyers because it generally implies the vehicle has not suffered severe damage or 
# # issues that could affect its safety, performance, or value.
# clean_title_mapping = {
#     'Yes': 1,
#     'No': 0,
# }

# df['clean_title'] = df['clean_title'].map(clean_title_mapping)
# df.head()

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3016 entries, 0 to 4008
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         3016 non-null   object
 1   model         3016 non-null   object
 2   model_year    3016 non-null   int64
 3   milage        3016 non-null   object
 4   fuel_type     3016 non-null   object
 5   transmission  3016 non-null   object
 6   ext_col       3016 non-null   object
 7   int_col       3016 non-null   object
 8   accident      3016 non-null   object
 9   clean_title   3016 non-null   object
 10  price         3016 non-null   object
 11  horsepower    3016 non-null   object
 12  size          3016 non-null   object
 13  cylinders     3016 non-null   object
dtypes: int64(1), object(13)
memory usage: 353.4+ KB

In [58]:
df.shapes

AttributeError: 'DataFrame' object has no attribute 'shapes'

In [189]:
#dropping model column to make the computation easy
df.drop(columns='model',inplace=True)
df.head()

,brand,model_year,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,horsepower,size,cylinders
0,Ford,2013,51000,E85 Flex Fuel,Automatic,Black,Black,1,1,14.194430,300.0,3.7,6
3,INFINITI,2015,88900,Hybrid,Automatic,Black,Black,0,1,21.360550,354.0,3.5,6
6,Audi,2017,84000,Gasoline,Automatic,Blue,Black,0,1,42.721100,292.0,2.0,4
7,BMW,2001,242000,Gasoline,Automatic,Green,Green,0,1,10.060130,282.0,4.4,8
8,Lexus,2021,23436,Gasoline,Automatic,Black,Black,0,1,57.779599,311.0,3.5,6